.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    /* padding-left: 4rem;
    padding-right: 4rem; */
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    /* padding-left: 5rem;
    padding-right: 5rem; */
  }
  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.full {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  height: 100%;
}

.sidebar {
  grid-column: span 2 / span 2;
  padding-left: 40px;
  /* margin: auto 0; */
}
.logo {
  height: 175px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}

.items {
}

.item {
  color: rgb(101, 106, 104);
  font-weight: 100;
  margin: 5px 0px;
  /* font-size: ; */
  display: flex;
}
.item h2 {
  font-weight: 100;
  font-size: larger;
}

.button {
  padding: 10px 30px;
  font-size: larger;
  border-radius: 50px;
  background-color: rgb(255, 78, 78);
  border: 0;
  color: whitesmoke;
}

.logo h1 {
  padding: auto auto;
}

.main-view {
  grid-column: span 7 / span 7;
}

.row {
  display: flex;
  overflow-x: scroll;
  padding: 40px 0;
}

.hero {
  margin: 50px 0px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
.paragraph {
  grid-column: span 3 / span 3;
  padding: 0 50px;
  border: 10px;
}

.divider {
  border-bottom: 2px solid rgb(255, 78, 78);
  /* border-color: rgb(255,78,78); */
  width: 80px;
  height: 10px;
}

.title {
  grid-column: span 6 / span 6;
  font-size: 2rem;
}

h1 {
  margin: 0;
}

.cell {
  margin-left: 20px;
  margin-right: 20px;
  /* background-color: aqua; */
  border-radius: 20px;
  height: 230px;
  width: 160px;
  box-shadow: 1px 2px 24px rgb(158, 148, 148);
}
.cell h3 {
  /* width: 100%; */
  margin: 0 auto;
}

.text-field {
  /* width: 100%; */
  /* margin: auto; */
  margin: 30px 0;
  display: flex;
}

.imagediv {
  margin: 12px;
  height: 130px;
  width: 130px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
}

#currnet {
  border-bottom: 2px solid rgb(255, 78, 78);
  text-decoration: underline;
  text-decoration: rgb(255, 78, 78);
}
.mobile-menu{
  display:none;
}

@media screen and (max-width: 480px) {
  .main-view {
    grid-column: span 9 / span 9;
  }
  .sidebar {
    background-color: lightgreen;
    display: none;
  }
  .hero {
    display: block;
    padding: 0 40px;
  }
  .paragraph {
    display: none;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px 10px;
    padding: 20px 20px;
  }
  .paragraph2{
    padding: 0 40px ;
    margin-top: 15px;
  }
  .taco{
    display: none;
  }
  .mobile-menu{
    display:flex;
  }
}
@media screen and (min-width: 481px) {
  .sidebar{
    display: block;
  }
  .paragraph2{
    display: none;
  }
}


